hairLength short medium long
hairColour black brown pink purple red blue green white
faceShape oval square round
glasses yes no
polar yes no neither
gender male female

P1
hairLength short
hairColour black
faceShape oval
glasses yes
polar yes
gender male

P2
hairLength short
hairColour brown
faceShape oval
glasses no
polar no
gender female

P3
hairLength medium
hairColour pink
faceShape square
glasses yes
polar neither
gender male

P4
hairLength long
hairColour black
faceShape oval
glasses yes
polar no
gender female

P5
hairLength short
hairColour purple
faceShape round
glasses no
polar no
gender male

P6
hairLength medium
hairColour black
faceShape oval
glasses yes
polar no
gender male

P7
hairLength medium
hairColour red
faceShape oval
glasses yes
polar neither
gender female

P8
hairLength long
hairColour blue
faceShape round
glasses no
polar yes
gender female

P9
hairLength short
hairColour white
faceShape oval
glasses no
polar neither
gender female

P10
hairLength long
hairColour purple
faceShape square
glasses yes
polar yes
gender male